addict==2.4.0
aliyun-python-sdk-core==2.16.0
aliyun-python-sdk-kms==2.16.5
certifi==2022.12.7
cffi==1.17.1
charset-normalizer==2.1.1
click==8.1.8
colorama==0.4.6
contourpy==1.1.1
crcmod==1.7
cryptography==44.0.0
cycler==0.12.1
filelock==3.14.0
fonttools==4.55.3
idna==3.4
imageio==2.35.1
importlib-metadata==8.5.0
importlib-resources==6.4.5
jmespath==0.10.0
kiwisolver==1.4.7
lazy-loader==0.4
Markdown==3.7
markdown-it-py==3.0.0
matplotlib==3.7.5
mdurl==0.1.2
mmcv-full==1.7.1
model-index==0.1.11
networkx==3.1
numpy==1.24.1
opencv-python==4.10.0.84
opendatalab==0.0.10
openmim==0.3.9
openxlab==0.1.2
ordered-set==4.1.0
oss2==2.17.0
packaging==24.2
pandas==2.0.3
pillow==10.2.0
platformdirs==4.3.6
psutil==6.1.1
py-cpuinfo==9.0.0
pycocotools==2.0.7
pycparser==2.22
pycryptodome==3.21.0
pygments==2.19.1
pyparsing==3.1.4
python-dateutil==2.9.0.post0
pytz==2024.2
PyWavelets==1.4.1
PyYAML==6.0.2
requests==2.28.1
rich==13.9.4
scikit-image==0.21.0
scipy==1.10.1
seaborn==0.13.2
segment-anything==1.0
shapely==2.0.6
six==1.17.0
tabulate==0.9.0
terminaltables==3.1.10
tifffile==2023.7.10
tomli==2.2.1
torch==1.12.1+cu113
torchaudio==0.12.1+cu113
torchvision==0.13.1+cu113
tqdm==4.67.1
typing-extensions==4.9.0
tzdata==2024.2
ultralytics==8.3.61
ultralytics-thop==2.0.13
urllib3==1.26.13
yapf==0.43.0
zipp==3.20.2
